# this file serves no functional purpose in this directory currently, but it is the file running in the systemd of the rasberrypi
# this is here for documentation purposes. Running at /etc/systemd/system/mqtt_publish_server.service

[Unit]
Description=MQTT Publisher Python Web Server
After=network.target

[Service]
User=changlab
WorkingDirectory=/home/changlab/Arduino/temperature_collection/Server
ExecStart=/usr/bin/python3 /home/changlab/Arduino/temperature_collection/Server/PublishDataServer.py
Restart=always

[Install]
WantedBy=multi-user.target